.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  @extend %montserrat-400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
}


.header {
  &__container {
    max-width: 1390px;
    padding: 0 15px;
  }
}

.page {
  flex: 1 1 auto;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

