$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1130;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$hoverColor: #44C9FF;

%harabara-700 {
  font-family: "Harabara",
  sans serif;
  font-weight: 700;
}
%montserrat-700 {
  font-family: "Montserrat-Bold",
    sans serif;
  font-weight: 700;
}
%montserrat-600 {
  font-family: "Montserrat-SemiBold",
    sans serif;
  font-weight: 600;
}
%montserrat-400 {
  font-family: "Montserrat-Regular",
    sans serif;
  font-weight: 400;
}
%openSans-400 {
  font-family: "OpenSans-Regular",
    sans serif;
  font-weight: 400;
}

// %text {
//   @extend %rubik-400;
//   font-size: 14px;
//   line-height: 32px;
//   color: #7b7b7b;
// }

%link {
  padding: 10px 50px;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  color: #fff;
  transition: all .3s;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background: #06B25F;
  }
  &:focus {
    outline: 0;
  }
}

%btn {
  padding: 5px 25px;
  color: #fff;
  background-color: #06B25F;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .3s;
  &:hover {
    background: #039953;
  }
  &:focus {
    outline: 0;
  }
}
