$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1130;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$hoverColor: #44C9FF;

%harabara-700 {
  font-family: "Harabara-Bold",
  sans serif;
  font-weight: 700;
}
%montserrat-700 {
  font-family: "Montserrat-Bold",
    sans serif;
  font-weight: 700;
}
%montserrat-600 {
  font-family: "Montserrat-SemiBold",
    sans serif;
  font-weight: 600;
}
%montserrat-400 {
  font-family: "Montserrat-Regular",
    sans serif;
  font-weight: 400;
}
%openSans-400 {
  font-family: "OpenSans-Regular",
    sans serif;
  font-weight: 400;
}


%link {
  padding: 10px 50px;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  color: #fff;
  transition: all .3s;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background: #06B25F;
  }
  &:focus {
    outline: 0;
  }
}

%link-green {
    padding: 10px 50px;
    border: 2px solid #06B25F;
    border-radius: 6px;
    color: #06B25F;
    transition: all .3s;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      background: #06B25F;
      color: #fff;
    }

    &:focus {
      outline: 0;
    }
}

%btn {
  @extend %montserrat-700;
  padding: 5px 25px;
  color: #fff;
  background-color: #06B25F;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .3s;
  &:hover {
    background: #039953;
  }
  &:focus {
    outline: 0;
  }
}

%title {
  @extend %harabara-700;
  font-size: 36px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #194484;
  justify-content: center;

}
