@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts';
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок
@import '../module/_header-white/_header-white';
@import '../module/_socials/_socials';
@import '../module/_footer/_footer';
@import '../module/_clutch/_clutch';
@import '../module/_discuss/_discuss';
@import '../module/_contacts/_contacts';
@import '../module/_content/_content';
@import '../module/_services-block/_services-block';
@import '../module/_recent/_recent';

.breadcrumbs {
  padding: 45px 0;

  &__list {
    display: flex;
  }

  &__item+.breadcrumbs__item {
    margin-left: 10px;
    padding-left: 10px;
    position: relative;

    &:before {
      content: '›';
      position: absolute;
      left: -3px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 26px;
    color: #194484;
  }
}

.top {
  margin-top: -140px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %harabara-700;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #0D6EB7;
    max-width: 805px;
    strong {
      color: #194484;
    }
  }
}

.about {
  padding-bottom: 45px;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    margin-right: 115px;
  }
  &__item:nth-child(even) {
    .about__item-picture {
      order: 1;
    }
  }
  &__item-content {
    max-width: 550px;
  }
  &__item-text {
    margin-bottom: 20px;
  }
  &__item-special {
    color: #0D6EB7;
    margin-bottom: 33px;
  }
  &__item-title {
    @extend %montserrat-700;
    font-size: 24px;
    line-height: 34px;
    color: #0D6EB7;
    margin-bottom: 5px;
  }
}