@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts';
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок
@import '../module/_header-white/_header-white';
@import '../module/_socials/_socials';
@import '../module/_footer/_footer';
@import '../module/_discuss/_discuss';
@import '../module/_recent-articles/_recent-articles';

.breadcrumbs {
  padding: 45px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item+.breadcrumbs__item {
    margin-left: 10px;
    padding-left: 10px;
    position: relative;

    &:before {
      content: '›';
      position: absolute;
      left: -3px;
    }
  }

  &__link {
    color: #242424;
  }
}

.author {
  padding: 45px 0 50px;
   &__inner {
     padding: 0 117px;
   }
   &__top {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-bottom: 10px;
     margin-bottom: 15px;
     border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   }
   &__title {
     @extend %title;
   }
   &__title-hidden {
     display: none;
   }
   &__socials {
     display: flex;
   }
   &__social {
     padding-left: 32px;
   }
   &__position {
     @extend %harabara-700;
     font-size: 24px;
     line-height: 38px;
     letter-spacing: 0.05em;
     text-transform: uppercase;
     margin-bottom: 45px;
   }
   &__position-hidden {
     display: none;
   }
   &__article-img {
     margin: 0 30px 40px 0;
     float: left;
     img {
       border-radius: 8px;
       width: 320px;
       height: auto;
     }
   }
   &__article-text {
     margin-bottom: 25px;
   }
} 

@media (max-width: 900px) {
  .breadcrumbs {
    padding: 16px 0;
  }

  .top {
    margin-top: 0;

    &__inner {
      flex-direction: column;
    }
  }
  .author {
    &__inner {
      padding: 0 60px;
    }
    &__title {
      display: none;
    }
    &__title-hidden {
      display: block;
      text-align: center;
      margin-bottom: 20px;
      font-size: 31px;
      line-height: 34px;
    }
    &__position {
      display: none;
    }
    &__position-hidden {
      display: block;
      margin-bottom: 0;
    }
    &__article-img {
      display: block;
      width: 100%;
      img {
        margin: 0 auto;
        width: 250px;
      }
    }
  }
}

@media (max-width: 610px) {
  .top {
    &__decor {
      max-width: 240px;
      max-height: 250px;
    }
  }
}

@media (max-width: 570px) {
  .author {
    padding-top: 20px;
    &__title-hidden {
      font-size: 24px;
      letter-spacing: 0.05em;
    }
    &__article-img img {
      width: 190px;
    }
    &__inner {
      padding: 0;
    }
    &__position {
      font-size: 20px;
      line-height: 38px;
    }
  }
}




