@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts';
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок
@import '../module/_header-white/_header-white';
@import '../module/_socials/_socials';
@import '../module/_footer/_footer';

.breadcrumbs {
  padding: 45px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item+.breadcrumbs__item {
    margin-left: 10px;
    padding-left: 10px;
    position: relative;

    &:before {
      content: '›';
      position: absolute;
      left: -3px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 26px;
    color: #194484;
  }
}

.top {
  padding-top: 55px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %harabara-700;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #194484;
    max-width: 600px;
  }
}

.blog {
  padding: 80px 0;
  background-image: url('../images/blog-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  &__card {
    width: 100%;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 3px 16px rgba(29, 51, 107, 0.15);
    border-radius: 12px;
    color: #242424;
  }
  &__card:not(:last-child) {
    margin-bottom: 65px;
  }
  &__card-img {
    width: 257px;
    height: 257px;
     img {
       width: 257px;
       height: 257px;
       max-width: 257px;
       border-radius: 12px 0 0 12px;
     }
  }
  &__card-content {
    padding: 20px 43px 23px 78px;
  }
  &__card-top {
    display: flex;
    margin-bottom: 20px;
  }
  &__card-stars {
    margin-right: 40px;
    z-index: 0;
  }
  &__card-time,
  &__card-views {
    position: relative;
    padding: 0 17px 0 30px;
    color: #242424;
  }
  &__card-time::before,
  &__card-views::before {
    content: '';
    position: absolute;
    background-image: url('../images/blog_time.svg');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    left: 0px;
  }
   &__card-views::before {
     background-image: url('../images/blog_reviews.svg');
   }
  &__card-title {
    @extend %montserrat-700;
    font-size: 24px;
    line-height: 26px;
    text-transform: capitalize;
    color: #242424;
    margin-bottom: 15px;
  }
  &__card-comment {
    margin-bottom: 13px;
    color: #242424;
  }
  &__card-bottom {
    display: flex;
    @extend %montserrat-600;
    color: #242424;
  }
  &__card-author {
    display: flex;
    padding: 0 16px 0 8px;
    border-right: 1px solid #B1B1B1;
    display: flex;
    align-items: center;
  }
  &__card-atuhorimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
  }
  &__card-date {
    padding-left: 16px;
  }
}

.pagination {
  padding: 15px 0 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__list {
    display: flex;
  }
  &__link {
    @extend %harabara-700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #194484;
  }
  &__item:not(:last-child) {
    margin-right: 45px;
  }
  &__arrows {
    padding: 0 25px;
  }
}

@media (max-width: 1400px) {
  .pagination {
    padding: 15px 0;
  }
}

@media (max-width: 1150px) {
  .top {
    padding-top: 10px;
    &__title {
      margin: 0 auto;
    }
  }
  .blog {
    &__card {
      flex-direction: column;
    }
    &__card-img {
      margin: 0 auto;
    }
    &__card-img img {
      border-radius: 12px;
    }
    &__card-content {
      padding: 20px 40px;
    }
  }
}

@media (max-width: 900px) {
  .breadcrumbs {
    padding: 16px 0;
  }

  .top {
    margin-top: 0;

    &__inner {
      flex-direction: column;
    }

    &__title {
      padding-top: 20px;
      font-size: 33px;
      line-height: 38px;
      text-align: center;
    }

    &__decor {
      max-width: 280px;
      max-height: 290px;
    }
  }
}

@media (max-width: 610px) {
  .top {
    &__decor {
      max-width: 240px;
      max-height: 250px;
    }
  }
  .blog {
    &__card-top {
       flex-wrap: wrap;
    }
    &__card-stars {
      width: 100%;
    }
    &__card-time,
    &__card-views {
      width: 50%;
      padding-top: 10px;
    }
    &__card-content {
      padding: 20px;
    }
  }
}

@media (max-width: 570px) {
  .top {
    &__title {
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }
}

@media (max-width: 480px) {
  .blog {
    &__card-bottom {
      flex-wrap: wrap;
    }
    &__card-author {
      border-right: none;
      width: 100%;
      margin-bottom: 10px;
    }
    &__card-date {
      padding-left: 46px;
    }
    &__card-title {
      font-size: 18px;
      line-height: 24px; 
    }
    &__card-time,
    &__card-views {
      width: 100%;
      padding-top: 10px;
    }
  }
}