@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts';
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок
@import '../module/_header-white/_header-white';
@import '../module/_socials/_socials';
@import '../module/_footer/_footer';
@import '../module/_discuss/_discuss';
@import '../module/_recent/_recent';

.breadcrumbs {
  padding: 45px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item+.breadcrumbs__item {
    margin-left: 10px;
    padding-left: 10px;
    position: relative;

    &:before {
      content: '›';
      position: absolute;
      left: -3px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 26px;
    color: #194484;
  }
}

.recent {
  background-image: none;
  padding-bottom: 50px;
}

.contacts {
  padding: 35px 0 150px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/contacts-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: 250px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__inner-box {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @extend %title;
    margin-bottom: 7px;
    text-align: left;
    display: block;
  }

  &__subtitle {
    @extend %montserrat-600;
   font-size: 24px;
   line-height: 34px;
   color: #242424;
   max-width: 575px;
   text-align: left;
  }

  &__box {
    display: block;
    width: 100%;
  }

  &__item-box:nth-child(1) {
    margin-right: 185px;
  }

  &__socials {
    display: flex;
  }

  &__item {
    display: flex;
    margin-bottom: 25px;
  }

  &__item-icon {
    padding-right: 16px;
    width: 40px;
    height: 24px;
  }

  &__item-link {
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #242424;
  }

  &__form-box {
    padding: 0 90px;
  }

  &__form {
    padding: 38px 30px 67px 40px;
    display: flex;
    flex-direction: column;
    width: 488px;
    background: #FFFFFF;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 6px;
    margin-bottom: 85px;
    margin-top: -80px;
    span {
      margin-bottom: 20px;
    }
  }

  &__form-name,
  &__form-email,
  &__form-message {
    margin-bottom: 20px;
    padding: 11px 0 10px 15px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    outline: none;
  }

  &__form-message {
    height: 80px;
    resize: none;
  }

  &__form-btn {
    @extend %btn;
    padding: 13px 0;
  }
}

@media (max-width: 1100px) {
  .contacts {
    &__inner-box {
      flex-direction: column;
      align-items: center;
    }
    &__title {
      text-align: center;
    }
    &__subtitle {
      text-align: center;
    }
    &__form {
      margin-top: 45px;
    }
    &__socials {
      flex-direction: column;
      align-items: start;
    }
    &__box {
      padding-left: 140px;
    }
  }
}

@media (max-width: 680px) {
  .contacts {
    &__box {
      padding-left: 30px;
    }
    &__title {
      font-size: 30px;
      line-height: 38px;
    }
    &__form-box {
      padding: 0 30px;
    }
    &__form {
      padding: 40px 20px;
      width: 400px;
    }
    &__form span {
      text-align: center;
    }
    &__item-box:nth-child(1) {
      margin-right: 0;
    }
  }
}

@media (max-width: 460px) {
  .contacts {
    &__form {
      width: 320px;
    }
  }
}

@media (max-width: 360px) {
  .contacts {
    &__box {
      padding-left: 10px;
    }
  }
}

