@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts';
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок
@import '../module/_header/_header';
@import '../module/_top-slider/_top-slider';
@import '../module/_socials/_socials';
@import '../module/_footer/_footer';
@import '../module/_clutch/_clutch';
@import '../module/_discuss/_discuss';
@import '../module/_partners/_partners';
@import '../module/_contacts/_contacts';

.technologies {
  padding: 120px 0 90px;
  &__inner {
    max-width: 900px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 60px;
    @extend %title;
  }
  &__text-adaptive {
    display: none;
  }
  &__text {
    text-align: center;
    max-width: 890px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #242424;
    margin-bottom: 30px;
    strong {
      @extend %montserrat-700;
      color: #00A4E8;
      span {
        color: #194484;
      }
    }
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__box-item {
    padding: 12px 16px;
    border-radius: 16px;
    background: #06B25F;
    box-shadow: 0px 4px 12px rgba(41, 24, 111, 0.2);
  }
  &__box-item:nth-child(2) {
    background: #276ED8;
    box-shadow: 0px 4px 12px rgba(41, 24, 111, 0.2);
  }
  &__box-item:nth-child(3) {
    background: #84B5FF;
    box-shadow: 0px 4px 12px rgba(41, 24, 111, 0.2);
  }
  &__box-item+.technologies__box-item {
    margin-left: 80px;
  }
}

.services {
  padding: 120px 0 60px;
  &__title {
    @extend %title;
    margin-bottom: 25px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relavive;
    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/header-shadow.png');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      top: 30px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.15;
    }
  }

  &__item-content {
    max-width: 555px;
  }
  &__item-title {
    @extend %harabara-700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0D6EB7;
    margin-bottom: 5px;
  }
  &__text-adaptive {
    display: none;
  }
  &__item:nth-child(even) {
    .services__item-content {
      order: 1;
    }
  }
}

.achievements {
  padding: 80px 0 130px;
  &__title {
    @extend %title;
    margin-bottom: 100px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
  }
  &__card {
    padding: 300px 29px 64px 29px;
    background-image: url('../images/achievs/one-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px;
    background-color: #eff1f5;
    max-width: 325px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    strong {
      color: #276ED8;
    }
  }
  &__card-text {
    max-width: 270px;
    text-align: center;
  }
  &__card:nth-child(1) {
    strong {
      color: #000;
    }
  }
  &__card:nth-child(2) {
    background-image: url('../images/achievs/two-bg.svg');
  }
  &__card:nth-child(3) {
    background-image: url('../images/achievs/three-bg.svg');
  }
  &__card:nth-child(4) {
    background-image: url('../images/achievs/four-bg.svg');
  }
}


@media (max-width: 1100px) {
  .achievements {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }
}

@media (max-width: 900px) {
  .services,
  .technologies,
  .achievements {
    padding: 70px 0;
  }
  
  .services {
    &__item {
      flex-direction: column;
    }
    &__item-content {
      max-width: 100%;
    }
    &__item-title {
      text-align: center;
    }
    &__text-adaptive {
      display: block;
    }
    &__item-text {
      display: none;
    }
    &__item:nth-child(even) {
    .services__item-content {
      order: 0;
    }
   }
  }
  .technologies__title,
  .services__title,
  .achievements__title,
  .services-block__title {
    margin-bottom: 40px;
    font-size: 31px;
    line-height: 30px;
  }
  .technologies {
    &__text-adaptive {
      display: block;
    }
   }
 }

@media (max-width: 700px) {
  .achievements {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}


@media (max-width: 610px) {
  .technologies__text,
  .services__item-text {
      font-size: 16px;
      line-height: 26px;
   }
  .technologies__box-item+.technologies__box-item {
    margin-left: 40px;
  }

  .services {
    &__item-title {
      font-size: 18px;
      line-height: 38px;
    }
  }
}

@media (max-width: 570px) {
  .technologies__title,
  .services__title,
  .achievements__title,
  .services-block__title {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 24px;
  }
}

@media (max-width: 420px) {
  .achievements {
    &__card {
      padding-top: 260px;
    }
  }
}