@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts';
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок
@import '../module/_header-white/_header-white';
@import '../module/_socials/_socials';
@import '../module/_footer/_footer';
@import '../module/_discuss/_discuss';
@import '../module/_contacts/_contacts';

.breadcrumbs {
  padding: 45px 0;

  &__list {
    display: flex;
  }

  &__item+.breadcrumbs__item {
    margin-left: 10px;
    padding-left: 10px;
    position: relative;

    &:before {
      content: '›';
      position: absolute;
      left: -3px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 26px;
    color: #194484;
  }
}

.top {
  margin-top: -90px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %harabara-700;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #194484;
    max-width: 600px;
  }
}

.content {
  padding: 55px 0 125px;
  &__inner {
    display: flex;
  }
  &__item:first-child {
    margin-right: 115px;
  }
  &__item {
    max-width: 550px;
  }
  &__item-text {
    margin-bottom: 25px;
  }
}

.current {
  padding: 100px 0 240px;
  &__title {
    @extend %title;
    margin-bottom: 60px;
  }
  &__spollers-top {
    padding-bottom: 30px;
  }
  &__spollers-top.active {
    transition: all .5s;
    .current__spollers-img {
      transform: rotate(180deg);
      transition: all .5s;
    }
  }
  &__spollers-item {
    background: #FFFFFF;
    box-shadow: 0px 3px 16px rgba(29, 51, 107, 0.15);
    border-radius: 12px;
    padding: 30px 70px 0px 40px;
    margin-bottom: 50px;
  }
  &__spollers-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__spollers-left {
    display: flex;
    align-items: center;
  }
  &__spollers-title {
    @extend %harabara-700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #194484;
    padding-left: 15px;
  }
  &__spollers-btn {
    @extend %btn;
    padding: 10px 50px;
  }
  &__spollers-bottom {
    border-top: 1px solid #194484;
    display: none;
  }
  &__spollers-inner {
    padding: 24px 40px;
  }
  &__box {
    margin-bottom: 30px;
  }
  &__box:nth-last-child() {
    margin-bottom: 0;
  }
  &__box-title {
    @extend %harabara-700;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #194484;
    margin-bottom: 5px;
  }
  &__box-item {
    padding-left: 18px;
    margin-bottom: 20px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/decor/ellipse.svg');
      background-repeat: no-repeat;
      width: 6px;
      height: 6px;
      left: 0;
      top: 10px;
    }
  }
}