@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts';
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок
@import '../module/_header-white/_header-white';
@import '../module/_socials/_socials';
@import '../module/_footer/_footer';
@import '../module/_discuss/_discuss';
@import '../module/_contacts/_contacts';

.breadcrumbs {
  padding: 45px 0;

  &__list {
    display: flex;
  }

  &__item+.breadcrumbs__item {
    margin-left: 10px;
    padding-left: 10px;
    position: relative;

    &:before {
      content: '›';
      position: absolute;
      left: -3px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 26px;
    color: #194484;
  }
}

.top {
  margin-top: -140px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %harabara-700;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #194484;
    max-width: 550px;
  }
}

.clutch {
  margin-bottom: 140px;
}

.services-block {
  margin-bottom: 140px;
}

.discuss {
  margin-bottom: 130px;
}

.contacts {
  padding-top: 95px;
  margin-bottom: 10px;
}

.top {
  margin-top: -100px;
}

.products {
  padding: 140px 0;
  background-image: url('../images/products-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
  }
  &__card {
    border-radius: 16px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all .5s;
    &:hover {
      .products__card-links {
        opacity: 1;
      }

      .products__card-top::after {
        opacity: 1;
      }
    }
  }
  &__card-top {
    z-index: 1;
    transition: all .5s;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5);
      opacity: 0;
      border-radius: 16px 16px 0 0;
      transition: all .5s;
    }
  }
   &__card-links {
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 100%;
     max-width: 400px;
     background-color: #84B5FF;
     position: absolute;
     z-index: 2;
     padding: 16px 0;
     transition: all .5s;
     top: 224px;
     opacity: 0;
     &::before {
       content: '';
       position: absolute;
       width: 2px;
       height: 56px;
       left: 49%;
       z-index: 2;
       background-color: #fff;
     }
   }

   &__card-link {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     cursor: pointer;
     position: relative;

     img {
       width: 25px;
       height: 24px;
     }
   }
   
  &__card-image {
    filter: drop-shadow(0px 2px 10px rgba(29, 51, 107, 0.1));
    max-width: 400px;
    border-radius: 16px 16px 0 0;
  }
  &__card-content {
    padding: 16px 14px 20px 16px;
    background: #FFFFFF;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    margin-top: -12px;
    max-width:  400px;
    border-radius: 0 0 16px 16px;
  }
  &__card-title {
    text-transform: uppercase;
    @extend %harabara-700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #0D6EB7;
    margin-bottom: 8px;
  }
}