@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts';
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок
@import '../module/_header-white/_header-white';
@import '../module/_socials/_socials';
@import '../module/_footer/_footer';
@import '../module/_clutch/_clutch';
@import '../module/_discuss/_discuss';
@import '../module/_contacts/_contacts';
@import '../module/_content/_content';
@import '../module/_services-block/_services-block';
@import '../module/_recent/_recent';

.breadcrumbs {
  padding: 45px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item+.breadcrumbs__item {
    margin-left: 10px;
    padding-left: 10px;
    position: relative;

    &:before {
      content: '›';
      position: absolute;
      left: -3px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 26px;
    color: #194484;
  }
}

.top {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %harabara-700;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #0D6EB7;
    max-width: 805px;
    text-align: center;
    margin: 0 auto;

    strong {
      color: #194484;
    }
  }
}

.team {
  padding: 85px 0;
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
  }

  &__card {
    margin-bottom: 10px;
    width: 322px;
    height: 515px;
  }
  &__img {
    max-width: 322px;
  }
  &__image {
    filter: drop-shadow(0px 2px 10px rgba(29, 51, 107, 0.1));
    border-radius: 16px 16px 0 0;
  }
  &__content {
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 0 0 16px 16px;
  }
  &__title {
    @extend %harabara-700;
    font-size: 24px;
    line-height: 38px;
    text-transform: uppercase;
    color: #0D6EB7;
    margin-bottom: 8px;
    letter-spacing: 0.05em;
  }
} 

@media (max-width: 1200px) {
  .team {
    padding: 60px 0;
    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      grid-gap: 0;
    }
    &__card {
      padding: 20px;
    }
  }
}

@media (max-width: 900px) {
  .breadcrumbs {
    padding: 16px 0;
  }

  .top {
    margin-top: 0;

    &__inner {
      flex-direction: column;
    }

    &__title {
      padding-top: 20px;
      font-size: 33px;
      line-height: 38px;
      text-align: center;
    }
  }
}


@media (max-width: 570px) {
  .top {
    &__title {
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }
}