@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts';
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок
@import '../module/_header-white/_header-white';
@import '../module/_socials/_socials';
@import '../module/_footer/_footer';
@import '../module/_clutch/_clutch';
@import '../module/_discuss/_discuss';
@import '../module/_contacts/_contacts';
@import '../module/_content/_content';
@import '../module/_services-block/_services-block';
@import '../module/_recent/_recent';
@import '../module/_faq/_faq';

.breadcrumbs {
  padding: 45px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item+.breadcrumbs__item {
    margin-left: 10px;
    padding-left: 10px;
    position: relative;
    &:before {
      content: '›';
      position: absolute;
      left: -3px;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 26px;
    color: #194484;
  }
}

.top {
  margin-top: -140px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    @extend %harabara-700;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #194484;
    max-width: 550px;
  }
}

.clutch {
  margin-bottom: 140px;
}

.services-block {
  margin-bottom: 140px;
}

.discuss {
  margin-bottom: 130px;
}

.contacts {
  padding-top: 95px;
  margin-bottom: 10px;
}

@media (max-width: 1300px) {
  .clutch,
  .services-block {
    margin-bottom: 50px;
   }
}

@media (max-width: 900px) {
  .breadcrumbs {
    padding: 16px 0;
  }
  .top {
    margin-top: 0;
    &__inner {
      flex-direction: column;
    }
    &__title {
      padding-top: 20px;
      font-size: 33px;
      line-height: 38px;
    }
    &__decor {
      max-width: 280px;
      max-height: 290px;
    }
  }
}

@media (max-width: 610px) {
  .top {
    &__decor {
      max-width: 240px;
      max-height: 250px;
    }
  }
}

@media (max-width: 570px) {
  .top {
    &__title {
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }
}