.header {
  background-size: contain;
  @extend %montserrat-700;
  font-size: 16px;
  line-height: 36px;
  color: #0D6EB7;
  z-index: 1;

  &__container {
    max-width: 1390px;
    padding: 0 15px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  &__btn {
    @extend %link-green;
    padding: 0 25px;
  }
}

.menu {
  &__btn {
    border: none;
    width: 26px;
    height: 20px;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    display: none;
    padding: 11px;
    margin-right: 15px;

    span {
      background-color: #194484;
      width: 26px;
      height: 5px;
      position: absolute;
      border-radius: 2px;
      top: 9px;
    }

    &::after,
    &::before {
      content: '';
      background-color: #194484;
      width: 26px;
      height: 4px;
      position: absolute;
      border-radius: 2px;
    }

    &::after {
      bottom: -2px;
    }

    &::before {
      top: 0;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 10px;
  }

  &__list-btn {
    display: none;
    color: #06B25F;
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__list-item {
    .menu__list-item--down {
      position: absolute;
      background: #fff;
      box-shadow: 2px 4px 16px rgba(158, 158, 158, 0.4);
      border-radius: 0 0 16px 16px;
      text-transform: uppercase;
      color: #fff;
      padding: 12px 10px 13px 16px;
      border-top: 3px solid #00A4E8;
      display: none;
      top: 100%;

      a {
        color: #0D6EB7;
        transition: all .5s ease;

        &:hover {
          color: $hoverColor;
        }
      }
    }

    &:hover {
      .menu__list-item--down {
        display: inherit;

        li {
          min-width: 170px;
          float: none;
          display: list-item;
          position: relative;
        }
      }
    }
  }

  &__list-item+.menu__list-item {
    padding-left: 20px;
  }

  &__list-link {
    text-transform: uppercase;
    color: #0D6EB7;
    transition: all .5s ease;
    display: flex;
    align-items: center;

    svg {
      padding-left: 3px;

      path {
        fill:#0D6EB7;
        transition: all .5s ease;
      }
    }

    &:hover {
      color: $hoverColor;

      svg {
        path {
          fill: $hoverColor;
        }
      }
    }
  }
  // &__list-link.active {
  //   border-bottom: 1px solid #0D6EB7;
  //   color: $hoverColor;
  // }
}
.menu__list-link.active {
  border-bottom: 3px solid #00A4E8;
  color: #00A4E8; 
}

@media (max-width: 1200px) {
  .header {
    &__btn {
      display: none;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
    }

    &__top {
      box-shadow: none;
    }
  }

  .menu {
    &__btn {
      display: block;
    }

    &__list {
      padding: 15px 15px 75px 47px !important;
      flex-direction: column;
      align-items: flex-start;
      justify-content: normal;
      text-align: center;
      background-color: transparent;
      width: 40%;
      height: 100vh;
      left: 0;
      color: #0D6EB7;
      transform: translateX(-105%);
      z-index: 5;
      transition: all .3s;
      background: #fff;
      top: 0px;
      box-shadow: 10px 0 5px -2px #3c3939;
      position: fixed;
      min-width: 275px;

      svg {
        display: none;
      }
    }

    &__list-btn {
      display: block;
      position: absolute;
      right: 16px;
    }

    &__list--active {
      transform: translateX(0);
      transition: all .3s;
    }

    &__list-link--first {
      padding-top: 5px;
    }

    &__list-btn {
      display: block;
      position: absolute;
      right: 16px;
    }

    &__list-item {
      padding-left: 0;
    }

    &__list-link {
      color: #0D6EB7;
    }

    .menu__list-item--down {
      display: block;
      position: revert;
      background-color: transparent;
      padding: 0;
      padding-left: 15px;
      font-size: 13px;
      border: none;
      box-shadow: none;
      text-align: left;

      a {
        color: #0D6EB7;
      }
    }

    &__list-item--down {

      .menu__list-item--link:nth-child(1),
      .menu__list-item--link:nth-child(2),
      .menu__list-item--link:nth-child(3) {
        display: none;
      }
    }
  }

  .menu__list-item+.menu__list-item {
    padding-left: 0;
  }
}

@media (max-width: 340px) {
  .header {
    &__inner {
      padding: 10px;
    }
  }
}