.recent-articles {
  padding: 50px 0 210px;
  &__title {
    @extend %title;
    margin-bottom: 100px;
  }
  &__slider {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-left: 20px;
   }
   &__slider-card {
     width: 400px;
     max-width: 400px;
     height: 575px;
     margin: 0 70px;
     background: #FFFFFF;
     box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
     border-radius: 16px;
   }
   &__top {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 16px;
   }
   &__top-time,
   &__top-views {
     position: relative;
     color: #242424;
     padding-left: 35px;
   }
   &__top-time::before,
   &__top-views::before {
     content: '';
     position: absolute;
     background-image: url('../images/blog_time.svg');
     background-repeat: no-repeat;
     width: 24px;
     height: 24px;
     left: 5px;
   }

   &__top-views::before {
     background-image: url('../images/blog_reviews.svg');
   }
   &__img {
     width: 100%;
     width: 400px;
     height: 280px;
   }
   &__by {
     padding: 16px;
     display: -webkit-box;
   }
   &__author {
     display: flex;
     padding-right: 10px;
     border-right: 1px solid #B1B1B1;
     display: flex;
     align-items: center;
   }

   &__authorimg {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     margin-right: 8px;
   }
   &__date {
     padding-left: 10px;
   }
   &__slider-bottom {
     padding: 0 16px 16px 16px;
   }
   &__slider-title {
     @extend %montserrat-700;
     font-size: 24px;
     line-height: 34px;
     margin-bottom: 10px;
     color: #242424;
     display: block;
     text-transform: capitalize;
   }
}

.recent-articles__slider .slick-arrow {
  font-size: 0;
  border: none;
  background-color: transparent;
  background-image: url('../images/decor/arrow-left.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 50px;
  left: 0;
  cursor: pointer;
  position: relative;
  padding: 0 20px;
}

.recent-articles__slider .slick-next {
  background-image: url('../images/decor/arrow-right.svg');
  padding-right: 70px;
}

.recent-articles__slider .slick-list {
  padding: 15px;
}

// @media (max-width: 1200px) {

// }