.services-block {
  padding: 50px 0;
  &__title {
    @extend %title;
    margin-bottom: 70px;
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__card {
    width: 320px;
    height: 320px;
    padding: 67px 21px 33px 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F4F8FD;
    box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
    border-radius: 16px;
    margin: 0 10px;
    margin-bottom: 60px;
    transition: all .3s;
    &:hover {
      background: #fff;
    }
  }
  &__card-text {
    @extend %harabara-700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0D6EB7;
    text-align: center;
    padding-top: 45px;
  }
}

@media (max-width: 1200px) {
  .services-block {
    &__card {
      width: 270px;
      height: 280px;
      padding: 35px 21px 20px 21px;
      margin-bottom: 50px;
    }
    &__card-text {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

@media (max-width: 650px) {
  .services-block {
    &__card {
      width: 145px;
      height: 162px;
      padding: 35px 8px 16px 8px;
      margin-bottom: 50px;
    }
    &__card-text {
      font-size: 12px;
      line-height: 22px;
    }
    &__card-decor {
      img {
        max-width: 50%;
        margin: 0 auto;
      }
    }
    &__card-text {
      padding-top: 22px;
    }
  }
}

@media (max-width: 420px) {
  .services-block {
    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 29px;
      grid-row-gap: 40px;
      justify-items: center;
      align-items: center;
    }
    &__card {
      margin-bottom: 0;
    }
  }
}