<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/jquery.rateyo.min.css">
    <link rel="stylesheet" href="css/about.min.css">
  </head>
  <body>

    <div class="wrapper">

      {% include 'app/module/_header-white/_header-white.html' %}
      {% include 'app/module/_socials/_socials.html' %}

      <main class="page">

        <div class="breadcrumbs">
         <div class="big-container">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="index.html">
                  Home
              </a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">
                  About Us
              </a>
            </li>
          </ul>
        </div>
       </div>

       <section class="top">
         <div class="big-container">
           <div class="top__inner">
             <h2 class="top__title">
               We are an outsourcing team focused on <strong>Games, VR, 3D, SDK, and Unity packages.</strong>
             </h2>
             <div class="top__decor">
               <img src="images/top/dedicated.png" alt="">
             </div>
           </div>
         </div>
       </section>

       <section class="about">
         <div class="big-container">
           <div class="about__inner">

             <div class="about__item">
               <div class="about__item-picture">
                 <img src="images/top/about.png" alt="">
               </div>
               <div class="about__item-content">
                 <p class="about__item-text">
                   Stan's Assets were <strong>founded in 2013</strong> with the story of Stan, who worked at night after his main job and developed the <strong>first Unity packages</strong>. Later other developers who have shared Stan’s passion joined the company and became our co-founders. 
                 </p>
                 <p class="about__item-text">
                   Hundreds of thousands of developers are using them in their development. That’s how we’ve understood we can really save developer’s time and help them become more <strong>effective</strong> at their job.
                 </p>
               </div>
             </div>

             <div class="about__item">
               <div class="about__item-picture">
                 <img src="images/top/products.png" alt="">
               </div>
               <div class="about__item-content">
                 <p class="about__item-text">
                   Thank for our plugins we became recognizible and started working with top worlknown companies like <strong>Moon Studios, Roomful and others</strong>.
                 </p>
                 <p class="about__item-text">
                   Now our team has more than <strong>15 developers</strong> who create games, <strong>VR spaces, mobile applications</strong> for our clients.
                 </p>
                 <p class="about__item-special">
                   If you share our values we'd love to see you as a part of our team!
                 </p>
                 <h4 class="about__item-title">
                   Our mission 
                 </h4>
                 <p class="about__item-text">
                   To create slick code that will be understandable to all developers who may work on a project after us and to make the developer's life easier with our plugins.
                 </p>
               </div>
             </div>

           </div>
         </div>
       </section>

       {% include 'app/module/_discuss/_discuss.html' %}
       {% include 'app/module/_contacts/_contacts.html' %}
       {% include 'app/module/_recent/_recent.html' %}

      </main>

       {% include 'app/module/_footer/_footer.html' %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>