<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="css/jquery.rateyo.min.css">
    <link rel="stylesheet" href="css/blog.min.css">
  </head>
  <body>

    <div class="wrapper">

      {% include 'app/module/_header-white/_header-white.html' %}
      {% include 'app/module/_socials/_socials.html' %}

      <main class="page">

        <div class="breadcrumbs">
         <div class="big-container">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="index.html">
                  Home
              </a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">
                  Blog
              </a>
            </li>
          </ul>
        </div>
       </div>

      <section class="top">
         <div class="big-container">
           <div class="top__inner">
             <h2 class="top__title">
               blog
             </h2>
           </div>
         </div>
       </section>

       <section class="blog">
         <div class="container">
           <div class="blog__inner">

             <div class="blog__card">
               <a class="blog__card-img" href="article.html">
                 <img src="images/blog.jpg" alt="blog">
               </a>
               <a class="blog__card-content" href="article.html">
                 <div class="blog__card-top">
                   <div class="blog__card-stars" id="blog__card-stars"></div>
                   <span class="blog__card-time">6 min read</span>
                   <span class="blog__card-views">543 views</span>
                 </div>
                 <div class="blog__card-text">
                   <h4 class="blog__card-title">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   </h4>
                   <p class="blog__card-comment">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum ...
                   </p>
                 </div>
                 <div class="blog__card-bottom">
                   <div class="blog__card-author">
                     <img class="blog__card-atuhorimg" src="images/blog_author.png" alt="author">
                     <span>By Andrew Williams</span>
                   </div>
                   <div class="blog__card-date">
                     February 24, 2021
                   </div>
                 </div>
               </a>
             </div>

             <div class="blog__card">
               <a class="blog__card-img" href="article.html">
                 <img src="images/blog.jpg" alt="blog">
               </a>
               <a class="blog__card-content" href="article.html">
                 <div class="blog__card-top">
                   <div class="blog__card-stars" id="blog__card-stars"></div>
                   <span class="blog__card-time">6 min read</span>
                   <span class="blog__card-views">543 views</span>
                 </div>
                 <div class="blog__card-text">
                   <h4 class="blog__card-title">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   </h4>
                   <p class="blog__card-comment">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum ...
                   </p>
                 </div>
                 <div class="blog__card-bottom">
                   <div class="blog__card-author">
                     <img class="blog__card-atuhorimg" src="images/blog_author.png" alt="author">
                     <span>By Andrew Williams</span>
                   </div>
                   <div class="blog__card-date">
                     February 24, 2021
                   </div>
                 </div>
               </a>
             </div>

             <div class="blog__card">
               <a class="blog__card-img" href="article.html">
                 <img src="images/blog.jpg" alt="blog">
               </a>
               <a class="blog__card-content" href="article.html">
                 <div class="blog__card-top">
                   <div class="blog__card-stars" id="blog__card-stars"></div>
                   <span class="blog__card-time">6 min read</span>
                   <span class="blog__card-views">543 views</span>
                 </div>
                 <div class="blog__card-text">
                   <h4 class="blog__card-title">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   </h4>
                   <p class="blog__card-comment">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum ...
                   </p>
                 </div>
                 <div class="blog__card-bottom">
                   <div class="blog__card-author">
                     <img class="blog__card-atuhorimg" src="images/blog_author.png" alt="author">
                     <span>By Andrew Williams</span>
                   </div>
                   <div class="blog__card-date">
                     February 24, 2021
                   </div>
                 </div>
               </a>
             </div>

             <div class="blog__card">
               <a class="blog__card-img" href="article.html">
                 <img src="images/blog.jpg" alt="blog">
               </a>
               <a class="blog__card-content" href="article.html">
                 <div class="blog__card-top">
                   <div class="blog__card-stars" id="blog__card-stars"></div>
                   <span class="blog__card-time">6 min read</span>
                   <span class="blog__card-views">543 views</span>
                 </div>
                 <div class="blog__card-text">
                   <h4 class="blog__card-title">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   </h4>
                   <p class="blog__card-comment">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum ...
                   </p>
                 </div>
                 <div class="blog__card-bottom">
                   <div class="blog__card-author">
                     <img class="blog__card-atuhorimg" src="images/blog_author.png" alt="author">
                     <span>By Andrew Williams</span>
                   </div>
                   <div class="blog__card-date">
                     February 24, 2021
                   </div>
                 </div>
               </a>
             </div>

             <div class="blog__card">
               <a class="blog__card-img" href="article.html">
                 <img src="images/blog.jpg" alt="blog">
               </a>
               <a class="blog__card-content" href="article.html">
                 <div class="blog__card-top">
                   <div class="blog__card-stars" id="blog__card-stars"></div>
                   <span class="blog__card-time">6 min read</span>
                   <span class="blog__card-views">543 views</span>
                 </div>
                 <div class="blog__card-text">
                   <h4 class="blog__card-title">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   </h4>
                   <p class="blog__card-comment">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum ...
                   </p>
                 </div>
                 <div class="blog__card-bottom">
                   <div class="blog__card-author">
                     <img class="blog__card-atuhorimg" src="images/blog_author.png" alt="author">
                     <span>By Andrew Williams</span>
                   </div>
                   <div class="blog__card-date">
                     February 24, 2021
                   </div>
                 </div>
               </a>
             </div>

             <div class="blog__card">
               <a class="blog__card-img" href="article.html">
                 <img src="images/blog.jpg" alt="blog">
               </a>
               <a class="blog__card-content" href="article.html">
                 <div class="blog__card-top">
                   <div class="blog__card-stars" id="blog__card-stars"></div>
                   <span class="blog__card-time">6 min read</span>
                   <span class="blog__card-views">543 views</span>
                 </div>
                 <div class="blog__card-text">
                   <h4 class="blog__card-title">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   </h4>
                   <p class="blog__card-comment">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum ...
                   </p>
                 </div>
                 <div class="blog__card-bottom">
                   <div class="blog__card-author">
                     <img class="blog__card-atuhorimg" src="images/blog_author.png" alt="author">
                     <span>By Andrew Williams</span>
                   </div>
                   <div class="blog__card-date">
                     February 24, 2021
                   </div>
                 </div>
               </a>
             </div>

             <div class="blog__card">
               <a class="blog__card-img" href="article.html">
                 <img src="images/blog.jpg" alt="blog">
               </a>
               <a class="blog__card-content" href="article.html">
                 <div class="blog__card-top">
                   <div class="blog__card-stars" id="blog__card-stars"></div>
                   <span class="blog__card-time">6 min read</span>
                   <span class="blog__card-views">543 views</span>
                 </div>
                 <div class="blog__card-text">
                   <h4 class="blog__card-title">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   </h4>
                   <p class="blog__card-comment">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum ...
                   </p>
                 </div>
                 <div class="blog__card-bottom">
                   <div class="blog__card-author">
                     <img class="blog__card-atuhorimg" src="images/blog_author.png" alt="author">
                     <span>By Andrew Williams</span>
                   </div>
                   <div class="blog__card-date">
                     February 24, 2021
                   </div>
                 </div>
               </a>
             </div>

             <div class="blog__card">
               <a class="blog__card-img" href="article.html">
                 <img src="images/blog.jpg" alt="blog">
               </a>
               <a class="blog__card-content" href="article.html">
                 <div class="blog__card-top">
                   <div class="blog__card-stars" id="blog__card-stars"></div>
                   <span class="blog__card-time">6 min read</span>
                   <span class="blog__card-views">543 views</span>
                 </div>
                 <div class="blog__card-text">
                   <h4 class="blog__card-title">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   </h4>
                   <p class="blog__card-comment">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum ...
                   </p>
                 </div>
                 <div class="blog__card-bottom">
                   <div class="blog__card-author">
                     <img class="blog__card-atuhorimg" src="images/blog_author.png" alt="author">
                     <span>By Andrew Williams</span>
                   </div>
                   <div class="blog__card-date">
                     February 24, 2021
                   </div>
                 </div>
               </a>
             </div>

             <div class="blog__card">
               <a class="blog__card-img" href="article.html">
                 <img src="images/blog.jpg" alt="blog">
               </a>
               <a class="blog__card-content" href="article.html">
                 <div class="blog__card-top">
                   <div class="blog__card-stars" id="blog__card-stars"></div>
                   <span class="blog__card-time">6 min read</span>
                   <span class="blog__card-views">543 views</span>
                 </div>
                 <div class="blog__card-text">
                   <h4 class="blog__card-title">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   </h4>
                   <p class="blog__card-comment">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum ...
                   </p>
                 </div>
                 <div class="blog__card-bottom">
                   <div class="blog__card-author">
                     <img class="blog__card-atuhorimg" src="images/blog_author.png" alt="author">
                     <span>By Andrew Williams</span>
                   </div>
                   <div class="blog__card-date">
                     February 24, 2021
                   </div>
                 </div>
               </a>
             </div>

             <div class="blog__card">
               <a class="blog__card-img" href="article.html">
                 <img src="images/blog.jpg" alt="blog">
               </a>
               <a class="blog__card-content" href="article.html">
                 <div class="blog__card-top">
                   <div class="blog__card-stars" id="blog__card-stars"></div>
                   <span class="blog__card-time">6 min read</span>
                   <span class="blog__card-views">543 views</span>
                 </div>
                 <div class="blog__card-text">
                   <h4 class="blog__card-title">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   </h4>
                   <p class="blog__card-comment">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum ...
                   </p>
                 </div>
                 <div class="blog__card-bottom">
                   <div class="blog__card-author">
                     <img class="blog__card-atuhorimg" src="images/blog_author.png" alt="author">
                     <span>By Andrew Williams</span>
                   </div>
                   <div class="blog__card-date">
                     February 24, 2021
                   </div>
                 </div>
               </a>
             </div>

             <div class="pagination">
               <a class="pagination__prev pagination__arrows" href="#">
                <img src="images/decor/arrow_prev.svg" alt="prev">
              </a>
              <ul class="pagination__list">
                <li class="pagination__item">
                  <a class="pagination__link" href="#">1</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">2</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">3</a>
                </li>
                <li class="pagination__item">
                  <span class="pagination__link">...</span>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">12</a>
                </li>
              </ul>
              <a class="pagination__next pagination__arrows" href="#">
                <img src="images/decor/arrow_next.svg" alt="next">
              </a>
             </div>

           </div>
         </div>
       </section>

       
      </main>

       {% include 'app/module/_footer/_footer.html' %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>