<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New project</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
  <link rel="stylesheet" href="css/index.min.css">
</head>

<body>

  <div class="wrapper">

     {% include 'app/module/_header/_header.html' %}
     {% include 'app/module/_top-slider/_top-slider.html' %}

     <main class="page">

       <section class="technologies">
         <div class="container">
           <div class="technologies__inner">
             <h2 class="technologies__title">
               Technologies
             </h2>
             <p class="technologies__text">
               <strong>Stan’s <span>Assets</span></strong> is a team of developers that are committed to developing high quality and engaging entertainment software
             </p>
             <div class="technologies__box">
               <div class="technologies__box-item">
                 <img src="images/android.svg" alt="Android">
               </div>
               <div class="technologies__box-item">
                 <img src="images/apple.svg" alt="Apple">
               </div>
               <div class="technologies__box-item">
                 <img src="images/unity.svg" alt="Unity">
               </div>
             </div>
             <p class="technologies__text">
               Our engineers develop applications for the most  popular platforms.
            </p>
           </div>
         </div>
       </section>
      
      {% include 'app/module/_clutch/_clutch.html' %}

     </main>

     {% include 'app/module/_footer/_footer.html' %}
     
   </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
  </script> -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>