<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New project</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" /> -->
    <link rel="stylesheet" href="css/jquery.rateyo.min.css">
    <link rel="stylesheet" href="css/index.min.css">
  </head>

  <body>

    <div class="wrapper">

      {% include 'app/module/_header/_header.html' %}
      {% include 'app/module/_top-slider/_top-slider.html' %}
      {% include 'app/module/_socials/_socials.html' %}

      <main class="page">

        <section class="technologies">
          <div class="container">
            <div class="technologies__inner">
              <h2 class="technologies__title">
               Technologies
             </h2>
              <p class="technologies__text">
                <strong>Stan’s <span>Assets</span></strong> is a team of developers that are committed to developing high quality and engaging entertainment software
             </p>
              <div class="technologies__box">
                <div class="technologies__box-item">
                  <img src="images/android.svg" alt="Android">
                </div>
                <div class="technologies__box-item">
                  <img src="images/apple.svg" alt="Apple">
                </div>
                <div class="technologies__box-item">
                  <img src="images/unity.svg" alt="Unity">
                </div>
              </div>
              <p class="technologies__text">
               Our engineers develop applications for the most  popular platforms.
            </p>
            </div>
          </div>
        </section>

        {% include 'app/module/_clutch/_clutch.html' %}

        <section class="services">
          <div class="container">
            <div class="services__inner">
              <h2 class="services__title">
              Services
            </h2>
              <div class="services__box">

                <div class="services__item">
                  <div class="services__item-content">
                    <h3 class="services__item-title">
                    GAME DEVELOPMENT
                  </h3>
                    <div class="services__item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus, viverra porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum mi, et mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu tellus eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                     Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae                      imperdiet elit, at viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut                      sapien.
                  </div>
                  </div>
                  <img class="services__item-decor" src="images/services/1.svg" alt="Game development">
                </div>

                <div class="services__item">
                  <div class="services__item-content">
                    <h3 class="services__item-title">
                    SDK Development
                  </h3>
                    <div class="services__item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus, viverra porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum mi, et mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu tellus eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                    Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae imperdiet elit, at                     viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut sapien.

                  </div>
                  </div>
                  <img class="services__item-decor" src="images/services/2.svg" alt="SDK Development">
                </div>

                <div class="services__item">
                  <div class="services__item-content">
                    <h3 class="services__item-title">
                      3D Modeling services
                    </h3>
                    <div class="services__item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus, viverra porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum mi, et mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu tellus eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                    Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae imperdiet elit, at                     viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut sapien.

                  </div>
                  </div>
                  <img class="services__item-decor" src="images/services/3.svg" alt="3D Modeling services">
                </div>

                <div class="services__item">
                  <div class="services__item-content">
                    <h3 class="services__item-title">
                      VR App Development
                    </h3>
                    <div class="services__item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus, viverra porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum mi, et mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu tellus eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                    Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae imperdiet elit, at                     viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut sapien.

                  </div>
                  </div>
                  <img class="services__item-decor" src="images/services/4.svg" alt="VR App Development">
                </div>

              </div>
            </div>
          </div>
        </section>

        {% include 'app/module/_discuss/_discuss.html' %}

        <section class="achievements">
         <div class="big-container">
          <div class="achievements__inner">
            <h2 class="achievements__title">
                achievements
              </h2>
            <div class="achievements__cards">

              <div class="achievements__card">
                <p class="achievements__card-text">
                    Collaboration with <strong>Moon Studios</strong> on WotW AAA Unity game.
                  </p>
              </div>

              <div class="achievements__card">
                <p class="achievements__card-text">
                  <strong>50+</strong> successfully launched projects on the the market.
                  </p>
              </div>

              <div class="achievements__card">
                <p class="achievements__card-text">
                    Asset store publisher since <strong>2013</strong>
                </p>
              </div>

              <div class="achievements__card">
                <p class="achievements__card-text">
                    Our products (packages) used by <strong>100k+</strong> devs in <strong>5k+</strong> commercial projects worldwide
                  </p>
              </div>

            </div>
          </div>
         </div>
        </section>

        {% include 'app/module/_partners/_partners.html' %}
        {% include 'app/module/_contacts/_contacts.html' %}

      </main>

      {% include 'app/module/_footer/_footer.html' %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
  </script> -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script src="js/main.js"></script>
  </body>

</html>