<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join The Team</title>
    <link rel="stylesheet" href="css/jquery.rateyo.min.css">
    <link rel="stylesheet" href="css/join.min.css">
  </head>
  <body>

    <div class="wrapper">

      {% include 'app/module/_header-white/_header-white.html' %}
      {% include 'app/module/_socials/_socials.html' %}

      <main class="page">

        <div class="breadcrumbs">
          <div class="big-container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="index.html">
                  About us
              </a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Join the Team
              </a>
              </li>
            </ul>
          </div>
        </div>

        <section class="top">
          <div class="big-container">
            <div class="top__inner">
              <h2 class="top__title">
               join the team
             </h2>
              <div class="top__decor">
                <img src="images/top/join.png" alt="">
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="big-container">
            <div class="content__inner">
              <div class="content__item">
                <p class="content__item-text">
             The internal culture of Stan's Assets is focused on the comfort, professional and personal growth of each team member. We do our best to make each of our employees feel that they are making their dreams come true. 
           </p>
                <p class="content__item-text">
             Therefore, unlike product companies, we ourselves choose which projects to work with. And we do this solely according to our values and interests.
           </p>
              </div>
              <div class="content__item">
                <p class="content__item-text">
             Our core team consists of experienced developers who have worked with companies such as One signal, Moon studios, Unity. 
           </p>
                <p class="content__item-text">
                  <strong>This is your chance to learn from their experience and study new skills by working with the best pros. </strong>
                </p>
                <p class="content__item-text">
             Our Stan's Assets team who is ambitious and friendly is waiting for you!
           </p>
              </div>
            </div>
          </div>
        </section>

        <section class="current">
          <div class="container">
            <div class="current__inner">
              <h2 class="current__title">
                Current openings
              </h2>

              <div class="current__spollers">

                <div class="current__spollers-item">

                  <div class="current__spollers-top">
                    <div class="current__spollers-box">
                      <div class="current__spollers-left">
                        <img class="current__spollers-img" src="images/decor/arrow.svg" alt="arrow">
                        <h4 class="current__spollers-title">
                        Unity Developer 1
                      </h4>
                      </div>
                      <a class="current__spollers-btn" href="#popup" id="myBtn">
                      Apply
                      </a>
                    </div>
                  </div>

                  <div class="current__spollers-bottom">
                    <div class="current__spollers-inner">
                    
                    <div class="current__box">
                      <h4 class="current__box-title">
                        Requirements:
                      </h4>
                      <ul class="current__box-list">
                        <li class="current__box-item">
                          Experience as a Technical Artist;
                        </li>
                        <li class="current__box-item">
                          Experience with C#/Unity programming;
                        </li>
                        <li class="current__box-item">
                          Proficient in Autodesk Maya, 3DS Max, Photoshop, Substance, etс.;
                        </li>
                        <li class="current__box-item">
                          Confident knowledge of Unity graphics pipeline;
                        </li>
                        <li class="current__box-item">
                          Development 2D and 3D games;
                        </li>
                        <li class="current__box-item">
                          Experience with mobile/web;
                        </li>
                        <li class="current__box-item">
                          Experience with shader development in game engines;
                        </li>
                        <li class="current__box-item">
                          Experience with Profiling/Debugging and Optimization by CPU, GPU, memory and build size.
                        </li>
                      </ul>
                    </div>

                    <div class="current__box">
                      <h4 class="current__box-title">
                        Preferences:
                      </h4>
                      <ul class="current__box-list">
                        <li class="current__box-item">
                          Experience with consoles NSwitch/Xbox/PS4;
                        </li>
                        <li class="current__box-item">
                          Experience with shader languages HLSL/GLSL;
                        </li>
                        <li class="current__box-item">
                          Experience with unit, behaviour, integration testing;
                        </li>
                        <li class="current__box-item">
                          Experience with Jenkins/TeamCity;
                        </li>
                        <li class="current__box-item">
                          Worked on/created large frameworks and projects.
                        </li>
                      </ul>
                    </div>

                    <div class="current__box">
                      <h4 class="current__box-title">
                        Responsibilities:
                      </h4>
                      <ul class="current__box-list">
                        <li class="current__box-item">
                          Work with artists and engineers to create and implement art and technical solutions;
                        </li>
                        <li class="current__box-item">
                          Support artists and engineers in the use of the 3D art pipeline and tool-chains;
                        </li>
                        <li class="current__box-item">
                          Provide hands-on support to artists and engineers in regard to asset performance and validation;
                        </li>
                        <li class="current__box-item">
                          Solve challenging technical issues in the 3D asset pipeline;
                        </li>
                        <li class="current__box-item">
                          Collaborate with engineers and testers to diagnose and resolve in-game problems;
                        </li>
                        <li class="current__box-item">
                          Collaborate with partner studios to share technology, workflows and best practices;
                        </li>
                        <li class="current__box-item">
                          Able to work and communicate effectively in a fast-paced environment where goals and requirements may                             
                          constantly be changing;
                        </li>
                        <li class="current__box-item">
                          Committed to learning and sharing with the team to help achieve overall goals.
                        </li>
                      </ul>
                    </div>

                    </div>
                  </div>
                </div>

                <div class="current__spollers-item">

                  <div class="current__spollers-top">
                    <div class="current__spollers-box">
                      <div class="current__spollers-left">
                        <img class="current__spollers-img" src="images/decor/arrow.svg" alt="arrow">
                        <h4 class="current__spollers-title">
                        Unity Developer 2
                        </h4>
                      </div>
                      <a class="current__spollers-btn" href="#popup" id="myBtn">
                      Apply
                      </a>
                    </div>
                  </div>

                  <div class="current__spollers-bottom">
                    <div class="current__spollers-inner">
                    
                    <div class="current__box">
                      <h4 class="current__box-title">
                        Requirements:
                      </h4>
                      <ul class="current__box-list">
                        <li class="current__box-item">
                          Experience as a Technical Artist;
                        </li>
                        <li class="current__box-item">
                          Experience with C#/Unity programming;
                        </li>
                        <li class="current__box-item">
                          Proficient in Autodesk Maya, 3DS Max, Photoshop, Substance, etс.;
                        </li>
                        <li class="current__box-item">
                          Confident knowledge of Unity graphics pipeline;
                        </li>
                        <li class="current__box-item">
                          Development 2D and 3D games;
                        </li>
                        <li class="current__box-item">
                          Experience with mobile/web;
                        </li>
                        <li class="current__box-item">
                          Experience with shader development in game engines;
                        </li>
                        <li class="current__box-item">
                          Experience with Profiling/Debugging and Optimization by CPU, GPU, memory and build size.
                        </li>
                      </ul>
                    </div>

                    <div class="current__box">
                      <h4 class="current__box-title">
                        Preferences:
                      </h4>
                      <ul class="current__box-list">
                        <li class="current__box-item">
                          Experience with consoles NSwitch/Xbox/PS4;
                        </li>
                        <li class="current__box-item">
                          Experience with shader languages HLSL/GLSL;
                        </li>
                        <li class="current__box-item">
                          Experience with unit, behaviour, integration testing;
                        </li>
                        <li class="current__box-item">
                          Experience with Jenkins/TeamCity;
                        </li>
                        <li class="current__box-item">
                          Worked on/created large frameworks and projects.
                        </li>
                      </ul>
                    </div>

                    <div class="current__box">
                      <h4 class="current__box-title">
                        Responsibilities:
                      </h4>
                      <ul class="current__box-list">
                        <li class="current__box-item">
                          Work with artists and engineers to create and implement art and technical solutions;
                        </li>
                        <li class="current__box-item">
                          Support artists and engineers in the use of the 3D art pipeline and tool-chains;
                        </li>
                        <li class="current__box-item">
                          Provide hands-on support to artists and engineers in regard to asset performance and validation;
                        </li>
                        <li class="current__box-item">
                          Solve challenging technical issues in the 3D asset pipeline;
                        </li>
                        <li class="current__box-item">
                          Collaborate with engineers and testers to diagnose and resolve in-game problems;
                        </li>
                        <li class="current__box-item">
                          Collaborate with partner studios to share technology, workflows and best practices;
                        </li>
                        <li class="current__box-item">
                          Able to work and communicate effectively in a fast-paced environment where goals and requirements may                             
                          constantly be changing;
                        </li>
                        <li class="current__box-item">
                          Committed to learning and sharing with the team to help achieve overall goals.
                        </li>
                      </ul>
                    </div>

                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </section>

      </main>

      {% include 'app/module/_footer/_footer.html' %}

    </div>

    <div class="popup" id="popup">
      <div class="popup__body">
        <div class="popup__content">
          <a class="popup__close close" href="#">X</a>
          <div class="popup__title">
            join the team
          </div>
          <div class="popup__subtitle">
            Unity Developer
          </div>
          <form class="popup__form">
            <input type="text" placeholder="Full Name" required>
            <input type="email" placeholder="Email" required>
            <input type="url" placeholder="Portfolio link" required>
            <div class="popup__form-box">
              <input class="popup__select-input" type="text" placeholder="Please Attach your CV File..." required>
              <div class="popup__form-select">
                <input class="popup__input-select" type="button" id="get_file" value="SELECT FILE">
                <input class="popup__my-file" type="file" id="my_file">
              </div>
            </div>
            <textarea placeholder="Message"></textarea>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    
    <script src="js/main.js"></script>
  </body>
</html>