<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join The Team</title>
    <link rel="stylesheet" href="css/jquery.rateyo.min.css">
    <link rel="stylesheet" href="css/join.min.css">
  </head>
  <body>

    <div class="wrapper">

      {% include 'app/module/_header-white/_header-white.html' %}
      {% include 'app/module/_socials/_socials.html' %}

      <main class="page">

        <div class="breadcrumbs">
          <div class="big-container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="index.html">
                  About us
              </a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Join the Team
              </a>
              </li>
            </ul>
          </div>
        </div>

        <section class="top">
          <div class="big-container">
            <div class="top__inner">
              <h2 class="top__title">
               join the team
             </h2>
              <div class="top__decor">
                <img src="images/top/join.png" alt="">
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="big-container">
            <div class="content__inner">
              <div class="content__item">
                <p class="content__item-text">
             The internal culture of Stan's Assets is focused on the comfort, professional and personal growth of each team member. We do our best to make each of our employees feel that they are making their dreams come true. 
           </p>
                <p class="content__item-text">
             Therefore, unlike product companies, we ourselves choose which projects to work with. And we do this solely according to our values and interests.
           </p>
              </div>
              <div class="content__item">
                <p class="content__item-text">
             Our core team consists of experienced developers who have worked with companies such as One signal, Moon studios, Unity. 
           </p>
                <p class="content__item-text">
                  <strong>This is your chance to learn from their experience and study new skills by working with the best pros. </strong>
                </p>
                <p class="content__item-text">
             Our Stan's Assets team who is ambitious and friendly is waiting for you!
           </p>
              </div>
            </div>
          </div>
        </section>

      </main>

      {% include 'app/module/_footer/_footer.html' %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>