.footer {
  padding-top: 100px;
  background-image: url('../images/footer-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-image: url('../images/footer-shadow.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: -30px;
    left: 30px;
    width: 100%;
    height: 100%;
    transform: rotate(-1.66deg);
    z-index: -1;
  }
  &__logo {
    padding-top: -10px;
  }
  &__top {
    padding: 100px 0 50px;
    display: flex;
    justify-content: space-between;
  }
  &__socials {
    padding-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    max-width: 215px;
  }
  &__social svg {
    path {
      fill: #fff;
      transition: all .3s;
    }
    &:hover {
      path {
        fill: #66D6A0;
      }
    }
  }
  &__title {
    @extend %harabara-700;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    padding-top: 18px;
  }
  &__top-item {
    margin-bottom: 18px;
  }
  &__top-link {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 20px;
    transition: all .3s;
    &:hover {
      color: #66D6A0;
    }
  }
  &__top-links {
    display: flex;
    flex-direction: column;
    .footer__title {
      margin-bottom: 25px;
    }
    .footer__title:nth-child(2),
    .footer__title:nth-child(3) {
      padding-top: 0;
    }
  }
  &__bottom {
    background-color: #fff;
    padding: 20px 0;
  }
  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom-copy,
  &__bottom-link {
    @extend %openSans-400;
    font-size: 14px;
    line-height: 19px;
    color: #4C4C4C;
  }
  &__bottom-link {
    margin-right: 120px;
  }
}