.top-slider {
  margin-top: -100px;
  z-index: 0;
  min-width: 100vh;
  position: relative;
  box-sizing: border-box;
  max-width: 100vw;

  &__box {
    max-width: 100vw;
  }

  &__item {
    height: 110vh;
    width: 100%;
    padding: 170px 0 270px;
    background-image: url('../images/top-slider/top-slider.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
  }

  &__content {
    max-width: 655px;
    color: #fff;
  }

  &__title {
    @extend %harabara-700;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  &__text {
    margin-bottom: 40px;
  }
  &__links {
    @extend %montserrat-700;
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 60px;
  }
  &__link {
    @extend %link;
    margin-right: 25px;
  }
  &__btn {
    @extend %btn;
  }
  &__subtitle {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #66D6A0;
    margin-bottom: 20px;
  }
  &__item--second {
    background-image: url('../images/top-slider/top-slider-second.png');
    .top-slider__content {
      max-width: 845px;
    }
    .top-slider__text {
      margin-bottom: 10px;
      max-width: 720px;
    }
    .top-slider__text--last {
      margin-bottom: 35px;
    }
  }
  &__item--third {
    background-image: url('../images/top-slider/top-slider-third.png');
  }
}

.slick-dots {
  display: flex;
  font-size: 0;
  li {
    margin-right: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    background-color: transparent;
    border-radius: 50%;
  }
  button {
    display: none;
  }
}

// .slick-dots .slick-active {
//   border: 3px solid #FFFFFF;
//   background-color: #fff;
// }


.socials {
  position: absolute;
  right: 0;
  position: fixed;
  z-index: 500;
  background-color: #fff;
  top: 350px;
  box-shadow: 0px 2px 12px 1px rgba(29, 51, 107, 0.25);
  border-radius: 3px;
  &__list-item {
    padding: 12px;
    border-bottom: 1px solid #bfc3c8;
  }
  &__list-item:last-child() {
    border-bottom: none;
  }
}

@media (max-width: 900px) {
  .top-slider {
    &__title {
      font-size: 37px;
      line-height: 40px;
    }
  }
}

@media (max-width: 720px) {
  .top-slider {
    &__item {
      height: auto;
      padding: 170px 0;
      max-width: 100vw;
      left: 0px;
    }
    &__title {
      font-size: 30px;
      line-height: 38px;
      text-align: center;
    }
    &__subtitle,
    &__text {
      display: none;
    }
    &__links {
      text-align: center;
    }
    .slick-dots {
      justify-content: center;
    }
  }
}

@media (max-width: 670px) {
  .top-slider {
    &__title {
      font-size: 24px;
      line-height: 38px;
      max-width: 100vw;
      margin: 0 auto;
      margin-bottom: 36px;
    }
  }
}

@media (max-width: 390px) {
  .top-slider {
    &__link {
      padding: 10px 45px;
      margin-right: 10px;
    }
    &__btn {
      padding: 5px 20px;
    }
  }
}

@media (max-width: 340px) {
  .top-slider {
    &__links {
     display: flex;
     flex-direction: column;
    }
    &__link {
      padding: 0px 45px;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}