.recent {
  padding: 210px 47px 316px 47px;
  background-image: url('../images/recent-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    @extend %title;
    margin-bottom: 110px;
  }
  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slider-card {
    width: 400px;
    height: 440px;
    background: #FFFFFF;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 16px;
    margin: 10px 40px;
  }
  &__slider-content {
    padding: 16px 12px 20px 16px;
    max-width: 370px;
  }
  &__slider-title {
    @extend %harabara-700;
    font-size: 24px;
    line-height: 38px;
    text-transform: uppercase;
    color: #0D6EB7;
    margin-bottom: 8px;
  }
}

// .recent__slider {
//   position: relative;
//   padding: 0px 60px; // поля между стрелкой и краем слайдера
// }


// .recent__slider .slick-arrow {
//   position: absolute;
//   top: 50%; // выравнивание по вертикали
//   margin: -15px 0 0 0; // корректировка  вертикального выравнивания
//   z-index: 2; // стрелки сверху картинок
//   font-size: 0; // убираем надпись на дефолтной стрелке
//   width: 45px;
//   height: 26px;
//   cursor: pointer;
// }


.recent__slider .slick-arrow {
  font-size: 0;
  border: none;
  background-color: transparent;
  background-image: url('../images/decor/arrow-left.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 50px;
  left: 0;
  cursor: pointer;
  position: relative;
  padding: 0 20px;
}

.recent__slider .slick-next {
  background-image: url('../images/decor/arrow-right.svg');
  padding: 0px 70px;
}

.recent__slider .slick-list {
  padding: 15px;
}



