.clutch {
  padding: 30px 35px 35px 35px;
  max-width: 890px;
  box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
  border-radius: 16px;
  margin: 0 auto;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    @extend %btn;
    padding: 10px 20px;
  }
  &__stars {
    display: flex;
    align-items: center;
    color: #242424;
    span {
      @extend %montserrat-600;
      font-size: 18px;
      line-height: 38px;
      text-transform: uppercase;
    }
  }
  &__star {
    padding: 0 15px;
  }
  &__rewiews {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 900px) {
  .clutch {
    margin: 0 30px;
    &__inner {
      flex-wrap: wrap;
      flex-direction: column;
   } 
   &__stars {
     padding: 35px 0 37px;
   }
  }
}

@media (max-width: 460px) {
  .clutch {
    padding: 30px 20px 53px 20px;
    .container {
      padding: 0px;
    }
  }
}

@media (max-width: 400px) {
  .clutch {
    &__stars {
    padding: 0px 0 18px;
    flex-direction: column;
    }
    &__star {
      padding: 10px 0;
    }
    &__link {
      font-size: 15px;
    }
  }
}