.partners {
  padding: 230px 0 300px;
  background-image: url('../images/partners/partners-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    @extend %title;
    margin-bottom: 80px;
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
  }
  &__item {
    background: #FFFFFF;
    box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
    border-radius: 16px;
    width: 322px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      opacity: 0.4;
    }
  }
}

@media (max-width: 900px) {
  .partners {
    padding: 120px 0;
    &__title {
      margin-bottom: 40px;
      font-size: 31px;
      line-height: 30px;
    }
  }
}