.partners {
  padding: 230px 0 300px;
  background-image: url('../images/partners/partners-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    @extend %title;
    margin-bottom: 80px;
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-bottom: 37px;
  }
  &__item {
    background: #FFFFFF;
    box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
    border-radius: 16px;
    width: 322px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      opacity: 0.4;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }
  }
  &__btn-show {
    display: flex;
    align-items: center;
    display: none;
    text-align: center;
    color: #194484;
    cursor: pointer;
    padding: 10px;
    justify-content: center;
  }
}

@media (max-width: 1420px) {
  .partners {
    &__box {
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
    }
  }
}

@media (max-width: 1100px) {
  .partners {
    &__box {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item:nth-child(n+9) {
      display: none;
    }
    &__btn-show {
      display: block;
    }
  }
}

@media (max-width: 900px) {
  .partners {
    padding: 70px 0;
    &__title {
      margin-bottom: 40px;
      font-size: 31px;
      line-height: 30px;
    }
  }
}

@media (max-width: 710px) {
  .partners {
    &__item {
      max-width: 255px;
      height: 115px;
    }
    img {
      max-height: 60%;
      width: auto;
    }
  }
}

@media (max-width: 570px) {
  .partners {
    &__item {
      max-width: 200px;
      height: 90px;
    }
    &__title {
      margin-bottom: 40px;
      font-size: 22px;
      line-height: 24px;
    }

    img {
      max-height: 50%;
    }
  }
}

@media (max-width: 460px) {
  .partners {
    &__item {
      max-width: 145px;
      height: 73px;
    }

    img {
      max-height: 45%;
    }
  }
}

@media (max-width: 345px) {
  .partners {
    &__item {
      max-width: 135px;
      height: 65px;
    }
  }
}