.content {
  padding-bottom: 85px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 555px;
  }
  &__title {
    @extend %harabara-700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0D6EB7;
    margin-bottom: 15px;
  }
  &__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 1100px) {
  .content {
    padding-bottom: 30px;
    &__inner {
      flex-direction: column;
    }
    &__item {
      max-width: 100%;
    }
  }
}

@media (max-width: 610px) {
  .content {
    &__title {
      font-size: 20px;
    }
  }
}